/*
	EHT - Overview - Global
	-------------------------------------------
	Typography
	Page Structure
	Content & Media
	Misc
---------------------------------------------
*/


/* Typography */
p {
	font-family: "Open Sans";
	font-size: 13px;
}

p.bold {
	font-weight: 700;
	padding: 0;
	margin-bottom: 5px;
}

p.info {
	font-size: 12px;
	padding: 0;
}

p.no_padding {
	padding-left: 0;
}

h2 {
	font-family: "Open Sans";
	font-size: 18px;
	color: #666;
}

/* Page Structure */
body {
	background-color: #f9f9f9;
}

header {
	display: flex;
	flex-direction: row; 	
	justify-content: space-between;
	align-items: center;
	background-color: #FEFEFE;
	position: fixed;
	width: 100%;
	height: 30px;
	top: 0;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	padding-top: 5px;
}

.progress_bar {
	background-color: #5f92c7;
	height: 5px;
	position: fixed;
	top: 45px;
}

/* Misc */
#hide {
	display: none;
}

#show {
	display: flex;
}

.spinner_wrapper {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
}

.spinner {
    border: 7px solid #CCC; 
    border-top: 7px solid #5f92c7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*  Radio button */
.radio input {
	display: none;
}

.radio span {
	width: 20px;
	height: 20px;
	display: block;
	background: url("/img/radiobutton_unchecked.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 5px;
	margin: 5px auto;
}

.radio input:checked + span {
	width: 20px;
	height: 20px;
	display: block;
	background: url("/img/radiobutton.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 5px;
}

