/*
	EHT - Overview - Learning Info
	-------------------------------------------
	Typography
	Page Structure
	Content & Media
	Misc
---------------------------------------------
*/



/* Page Structure */

#behavior_info_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 100px;
}

.add_behavior_wrapper {
	width: 400px;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 30px;
	margin-right: 20px;
}

.post_behavior_container, .show_behavior_container {
	border: 1px solid #d8dee2;
	background-color: #FFF;
	width: 400px;
	padding: 20px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-right: 20px;
}


/* Content & Media */

#behavior {
	font-size: 18px;
	width: 93%;
	padding: 5px;
}

.rules {
	display: flex;
	flex-direction: row;
}

input.behavior_range {
	width: 100%;
}