/*
	EHT - Overview - Login
	-------------------------------------------
	Typography
	Page Structure
	Content & Media
	Misc
---------------------------------------------
*/

/* Typography */
p.input {
margin-left: 12px;
margin-bottom: 0px;
}



/* Page Structure */
.page_wrapper {
	max-width: 560px;
	margin: 10% auto;
}

.login_wrapper {
	background-color: #FFF;
	border: 1px solid #999;
	border-radius: 4px;
	margin: 10% auto;
	max-width: 560px;
}

.login_container {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* Content & Media */
input {
	padding: 10px;
	margin: 5px;
}

button {
	padding: 10px;
	margin: 5px;
	margin-top: 20px;
	background-color: green;
}

/* Misc */